.Sign{
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 19px;
    color: white;
    padding-bottom: 50px;
    border-bottom: 1px solid #62646a73;
    p{
        color: #62646a;
        margin-bottom: 30px;
    }
    a {
        
        background-color: #1dbf73;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        border: 1px solid transparent;
        padding: 10px 35px;
        border-radius: 3px;
        
        &:hover {
            background-color: #3fca89;
        }
    }
}